@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    /* background-image: url('../assets/bg.gif'); */
    background-image: url('/assets/bgbk.jpg');
    background-size: cover;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#stats {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    color: white;
}

.ui {
    /* display: none; */
    padding: 75px;
    margin: 100px;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.2);
    font-size: x-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#game canvas {
    background-color: rgba(100, 100, 100, 0.2);
}


.gameover_ui {
    display: none;
}

.start_ui {
    /* display: none; */
}

#game {
    display: none;
}

#ui_title, #ui_game_over {
    font-size: 90px;
    font-weight: bold;
    padding: 10px;
}

#start_description {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#gameover_stats {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#startbtn, #restartbtn, #upgrade_lives_btn {
    font-family: "Press Start 2P", system-ui;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

#startbtn {
    background-color: #4CAF50;
}
#restartbtn {
    background-color: #f44336;
}
#startbtn:hover {
    background-color: #6b6f6b;
}
#restartbtn:hover {
    background-color: #a6a6a6;
}
#upgrade_lives_btn {
    background-color: #4CAF50;
}

#upgrade_lives_btn:hover {
    background-color: #6b6f6b;
}

#start_description {
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
